<div class="preloader-activate preloader-active open_tm_preloader">
  <div class="preloader-area-wrap">
    <div class="spinner d-flex justify-content-center align-items-center h-100">
      <div class="bounce1"></div>
      <div class="bounce2"></div>
      <div class="bounce3"></div>
    </div>
  </div>
</div>

<!--====================  header area ====================-->
<div class="header-area">
  <div class="header-top-bar-info bg-gray d-none d-lg-block">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="top-bar-wrap">
            <div class="top-bar-left">
              <div class="top-bar-text">
                <!-- <a href="#" class="font-medium display-inline">Now Hiring:</a>
                Are you a driven and motivated 1st Line IT Support Engineer? -->
              </div>
            </div>
            <div class="top-bar-right">
              <ul class="top-bar-info">
                <li class="info-item">
                  <a href="tel:01228899900" class="info-link">
                    <i class="info-icon fa fa-phone"></i>
                    <span class="info-text"><strong>+41 76 327 63 40</strong></span>
                  </a>
                </li>
                <li class="info-item">
                  <i class="info-icon fa fa-map-marker-alt"></i>
                  <span class="info-text"
                    >Switzerland</span
                  >
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="header-bottom-wrap header-sticky bg-white">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="header position-relative">
            <!-- brand logo -->
            <div class="header__logo">
              <a href="/">
                <img
                  src="./assets/images/aqm-brand-logo.png"
                  width="160"
                  height="48"
                  class="img-fluid"
                  alt=""
                />
              </a>
            </div>

            <div class="header-right">
              <!-- navigation menu -->
              <div
                class="header__navigation menu-style-three d-none d-xl-block"
              >
                <nav class="navigation-menu">
                  <ul>
                    <li [class.active]="(activeFragment | async)==='home'">
                      <a routerLink="" fragment="home" ><span>Home</span></a>
                      <!-- <ul class="submenu">
                        <li>
                          <a href="index-infotechno.html"
                            ><span>Software & Techology</span></a
                          >
                        </li>
                        <li>
                          <a href="index-processing.html"
                            ><span>Startup Business</span></a
                          >
                        </li>
                        <li>
                          <a href="index-appointment.html"
                            ><span>IT Agency</span></a
                          >
                        </li>
                        <li>
                          <a href="index-services.html"
                            ><span>IT Services</span></a
                          >
                        </li>
                        <li>
                          <a href="index-resolutions.html"
                            ><span>IT Solution</span></a
                          >
                        </li>
                        <li>
                          <a href="index-cybersecurity.html"
                            ><span>Cyber Security</span></a
                          >
                        </li>
                        <li>
                          <a href="index-modern-it-company.html"
                            ><span>Modern IT Company</span></a
                          >
                        </li>
                        <li>
                          <a href="index-machine-learning.html"
                            ><span>Machine Learning</span></a
                          >
                        </li>
                        <li>
                          <a href="index-software-innovation.html"
                            ><span>Software Innovation</span></a
                          >
                        </li>
                      </ul> -->
                    </li>
                    <li [class.active]="(activeFragment | async)==='services'">
                      <a routerLink="" fragment="services" ><span>Services</span></a>
                      <!-- <ul class="submenu">
                        <li>
                          <a href="index-infotechno.html"
                            ><span>Software & Techology</span></a
                          >
                        </li>
                        <li>
                          <a href="index-processing.html"
                            ><span>Startup Business</span></a
                          >
                        </li>
                        <li>
                          <a href="index-appointment.html"
                            ><span>IT Agency</span></a
                          >
                        </li>
                        <li>
                          <a href="index-services.html"
                            ><span>IT Services</span></a
                          >
                        </li>
                        <li>
                          <a href="index-resolutions.html"
                            ><span>IT Solution</span></a
                          >
                        </li>
                        <li>
                          <a href="index-cybersecurity.html"
                            ><span>Cyber Security</span></a
                          >
                        </li>
                        <li>
                          <a href="index-modern-it-company.html"
                            ><span>Modern IT Company</span></a
                          >
                        </li>
                        <li>
                          <a href="index-machine-learning.html"
                            ><span>Machine Learning</span></a
                          >
                        </li>
                        <li>
                          <a href="index-software-innovation.html"
                            ><span>Software Innovation</span></a
                          >
                        </li>
                      </ul> -->
                    </li>
                    <li [class.active]="(activeFragment | async)==='process'">
                      <a routerLink="" fragment="process"><span>Our Process</span></a>
                      <!-- <ul class="submenu">
                        <li>
                          <a href="index-infotechno.html"
                            ><span>Software & Techology</span></a
                          >
                        </li>
                        <li>
                          <a href="index-processing.html"
                            ><span>Startup Business</span></a
                          >
                        </li>
                        <li>
                          <a href="index-appointment.html"
                            ><span>IT Agency</span></a
                          >
                        </li>
                        <li>
                          <a href="index-services.html"
                            ><span>IT Services</span></a
                          >
                        </li>
                        <li>
                          <a href="index-resolutions.html"
                            ><span>IT Solution</span></a
                          >
                        </li>
                        <li>
                          <a href="index-cybersecurity.html"
                            ><span>Cyber Security</span></a
                          >
                        </li>
                        <li>
                          <a href="index-modern-it-company.html"
                            ><span>Modern IT Company</span></a
                          >
                        </li>
                        <li>
                          <a href="index-machine-learning.html"
                            ><span>Machine Learning</span></a
                          >
                        </li>
                        <li>
                          <a href="index-software-innovation.html"
                            ><span>Software Innovation</span></a
                          >
                        </li>
                      </ul> -->
                    </li>
                    <li [class.active]="(activeFragment | async)==='contact-us'">
                      <a routerLink="" fragment="contact-us" ><span>Contact Us</span></a>
                      <!-- <ul class="submenu">
                        <li>
                          <a href="index-infotechno.html"
                            ><span>Software & Techology</span></a
                          >
                        </li>
                        <li>
                          <a href="index-processing.html"
                            ><span>Startup Business</span></a
                          >
                        </li>
                        <li>
                          <a href="index-appointment.html"
                            ><span>IT Agency</span></a
                          >
                        </li>
                        <li>
                          <a href="index-services.html"
                            ><span>IT Services</span></a
                          >
                        </li>
                        <li>
                          <a href="index-resolutions.html"
                            ><span>IT Solution</span></a
                          >
                        </li>
                        <li>
                          <a href="index-cybersecurity.html"
                            ><span>Cyber Security</span></a
                          >
                        </li>
                        <li>
                          <a href="index-modern-it-company.html"
                            ><span>Modern IT Company</span></a
                          >
                        </li>
                        <li>
                          <a href="index-machine-learning.html"
                            ><span>Machine Learning</span></a
                          >
                        </li>
                        <li>
                          <a href="index-software-innovation.html"
                            ><span>Software Innovation</span></a
                          >
                        </li>
                      </ul> -->
                    </li>
                  </ul>
                </nav>
              </div>
              <!-- mobile menu -->
              <div
                class="mobile-navigation-icon d-block d-xl-none"
                id="mobile-menu-trigger"
                (click)="showMobileView()"
              >
                <i></i>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--====================  End of header area  ====================-->

<div id="main-wrapper">
  <div id="home" class="site-wrapper-reveal section-space--pt__120">
    <!--============ Service Hero Start ============-->
    <div class="service-hero-wrapper service-hero-space service-hero-bg">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 col-md-12 m-auto">
            <div class="service-hero-wrap wow move-up">
              <div class="service-hero-text text-center">
                <!-- <h5 class="text-white">Product design, engineering, development and manufacture.</h5> -->
                <h1 class="mb-30">We make your ideas work</h1>
                <h5 class="text-white">
                  Product design, Engineering, Development and Manufacture.
                </h5>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--============ Service Hero End ============-->

    <!--===========  feature-icon-wrapper  Start =============-->
    <div
      id="services"
      class="feature-icon-wrapper bg-gray section-space--ptb_100"
    >
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <div class="section-title-wrap text-center section-space--mb_40">
              <!-- <h6 class="section-sub-title mb-20">Industries we Serve</h6> -->
              <h3 class="heading">
                We help our clients <br /> develop
                <span class="text-color-primary">
                  manufacture-ready products</span
                >
              </h3>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-12">
            <div class="feature-list__two">
              <div class="row">
                <div class="col-lg-4 col-md-6 wow move-up">
                  <div class="ht-box-icon style-02 single-svg-icon-box">
                    <div class="icon-box-wrap">
                      <div class="icon">
                        <div
                          class="svg-icon"
                          id="svg-1"
                          data-svg-icon="assets/images/svg/linea-basic-heart.svg"
                        ></div>
                      </div>
                      <div class="content">
                        <h5 class="heading">Product Development</h5>
                        <div class="text">
                          We specialize in custom design and engineering of some of the world’s most useful and innovative products.
                        </div>
                        <div class="feature-btn">
                          <!-- <a href="#">
                            <span class="button-text">Discover now</span>
                            <i class="far fa-long-arrow-left"></i>
                          </a> -->
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-lg-4 col-md-6 wow move-up">
                  <div class="ht-box-icon style-02 single-svg-icon-box">
                    <div class="icon-box-wrap">
                      <div class="icon">
                        <div
                          class="svg-icon"
                          id="svg-2"
                          data-svg-icon="assets/images/svg/linea-basic-case.svg"
                        ></div>
                      </div>
                      <div class="content">
                        <h5 class="heading">Design & Engineering</h5>
                        <div class="text">
                          Our expert design team works alongside our product engineers to develop beautiful concepts that are manufacturable and meet business requirements
                        </div>
                        <div class="feature-btn">
                          <!-- <a href="#">
                            <span class="button-text">Discover now</span>
                            <i class="far fa-long-arrow-left"></i>
                          </a> -->
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-lg-4 col-md-6 wow move-up">
                  <div class="ht-box-icon style-02 single-svg-icon-box">
                    <!-- ht-box-icon Start -->
                    <div class="icon-box-wrap">
                      <div class="icon">
                        <div
                          class="svg-icon"
                          id="svg-3"
                          data-svg-icon="assets/images/svg/linea-basic-alarm.svg"
                        ></div>
                      </div>
                      <div class="content">
                        <h5 class="heading">Electronics & Software</h5>
                        <div class="text">
                          Our experienced electronics design engineers work side-by-side with our industrial designers and mechanical engineers as part of a complete in-house design and problem-solving team
                        </div>
                        <div class="feature-btn">
                          <!-- <a href="#">
                            <span class="button-text">Discover now</span>
                            <i class="far fa-long-arrow-left"></i>
                          </a> -->
                        </div>
                      </div>
                    </div>
                    <!-- ht-box-icon End -->
                  </div>
                </div>
                <div class="col-lg-4 col-md-6 wow move-up">
                  <div class="ht-box-icon style-02 single-svg-icon-box">
                    <!-- ht-box-icon Start -->
                    <div class="icon-box-wrap">
                      <div class="icon">
                        <div
                          class="svg-icon"
                          id="svg-4"
                          data-svg-icon="assets/images/svg/linea-basic-geolocalize-05.svg"
                        ></div>
                      </div>
                      <div class="content">
                        <h5 class="heading">Prototype & Testing</h5>
                        <div class="text">
                          We leverage our engineering, testing and fabrication expertise working with our network and prototype suppliers.
                        </div>
                        <div class="feature-btn">
                          <!-- <a href="#">
                            <span class="button-text">Discover now</span>
                            <i class="far fa-long-arrow-left"></i>
                          </a> -->
                        </div>
                      </div>
                    </div>
                    <!-- ht-box-icon End -->
                  </div>
                </div>
                <div class="col-lg-4 col-md-6 wow move-up">
                  <div class="ht-box-icon style-02 single-svg-icon-box">
                    <!-- ht-box-icon Start -->
                    <div class="icon-box-wrap">
                      <div class="icon">
                        <div
                          class="svg-icon"
                          id="svg-5"
                          data-svg-icon="assets/images/svg/linea-ecommerce-money.svg"
                        ></div>
                      </div>
                      <div class="content">
                        <h5 class="heading">Manufacturing Support</h5>
                        <div class="text">
                          Our supply chain network provides access to partners for a smooth transition into high quality production.
                        </div>
                        <div class="feature-btn">
                          <!-- <a href="#">
                            <span class="button-text">Discover now</span>
                            <i class="far fa-long-arrow-left"></i>
                          </a> -->
                        </div>
                      </div>
                    </div>
                    <!-- ht-box-icon End -->
                  </div>
                </div>
                <div class="col-lg-4 col-md-6 wow move-up">
                  <div class="ht-box-icon style-02 single-svg-icon-box">
                    <!-- ht-box-icon Start -->
                    <div class="icon-box-wrap">
                      <div class="icon">
                        <div
                          class="svg-icon"
                          id="svg-6"
                          data-svg-icon="assets/images/svg/linea-basic-spread-text-bookmark.svg"
                        ></div>
                      </div>
                      <div class="content">
                        <h5 class="heading">Marketing Services</h5>
                        <div class="text">
                          We help your go-to-market planning with market research, competitive analysis and use case investigation.
                        </div>
                        <div class="feature-btn">
                          <!-- <a href="#">
                            <span class="button-text">Discover now</span>
                            <i class="far fa-long-arrow-left"></i>
                          </a> -->
                        </div>
                      </div>
                    </div>
                    <!-- ht-box-icon End -->
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-12">
            <div class="feature-list-button-box mt-30 text-center">
              <a href="#contact-us" class="ht-btn ht-btn-md">Talk to a consultant</a>
              <!-- <a href="#" class="ht-btn ht-btn-md ht-btn--outline"
                >Contact us now
              </a> -->
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--===========  feature-icon-wrapper  End =============-->

    <!--====================  gradation process area ====================-->
    <div id="process" class="gradation-process-area section-space--ptb_100">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <div class="gradation-title-wrapper section-space--mb_60">
              <div class="gradation-title-wrap">
                <h6 class="section-sub-title text-black mb-20">How we works</h6>
                <h4 class="heading">
                  How it helps
                  <span class="text-color-primary"
                    >your <br />
                    business succeed</span
                  >
                </h4>
              </div>

              <div class="gradation-sub-heading">
                <h3 class="heading"><mark>04</mark> Steps</h3>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-lg-12">
            <div class="ht-gradation style-01">
              <!-- Single item gradation Start -->
              <div
                class="item item-1 animate wow fadeInRight"
                data-wow-delay="0.1s"
              >
                <div class="line"></div>
                <div class="circle-wrap">
                  <div class="mask">
                    <div class="wave-pulse wave-pulse-1"></div>
                    <div class="wave-pulse wave-pulse-2"></div>
                    <div class="wave-pulse wave-pulse-3"></div>
                  </div>

                  <h6 class="circle">1</h6>
                </div>

                <div class="content-wrap">
                  <h6 class="heading">01. Discussion</h6>

                  <div class="text">
                    We meet customers in set place to discuss the details about
                    needs and demands before proposing a plan.
                  </div>

                  <!-- <a class="gradation-btn" href="#">
                    <span class="button-text" data-text="Look more">
                      Look more
                    </span>
                    <span class="button-icon far fa-long-arrow-left"></span>
                  </a> -->
                </div>
              </div>
              <!-- Single item gradation End -->

              <!-- Single item gradation Start -->
              <div
                class="item item-1 animate wow fadeInRight"
                data-wow-delay="0.15s"
              >
                <div class="line"></div>
                <div class="circle-wrap">
                  <div class="mask">
                    <div class="wave-pulse wave-pulse-1"></div>
                    <div class="wave-pulse wave-pulse-2"></div>
                    <div class="wave-pulse wave-pulse-3"></div>
                  </div>

                  <h6 class="circle">2</h6>
                </div>

                <div class="content-wrap">
                  <h6 class="heading">02. Concepts &amp; Initatives</h6>

                  <div class="text">
                    Our experts come up with all kinds of ideas and initiatives
                    for delivering the best solutions for IT services chosen.
                  </div>

                  <!-- <a class="gradation-btn" href="#">
                    <span class="button-text" data-text="Look more">
                      Look more
                    </span>
                    <span class="button-icon far fa-long-arrow-left"></span>
                  </a> -->
                </div>
              </div>
              <!-- Single item gradation End -->

              <!-- Single item gradation Start -->
              <div
                class="item item-1 animate wow fadeInRight"
                data-wow-delay="0.20s"
              >
                <div class="line"></div>
                <div class="circle-wrap">
                  <div class="mask">
                    <div class="wave-pulse wave-pulse-1"></div>
                    <div class="wave-pulse wave-pulse-2"></div>
                    <div class="wave-pulse wave-pulse-3"></div>
                  </div>

                  <h6 class="circle">3</h6>
                </div>

                <div class="content-wrap">
                  <h6 class="heading">03. Testing &amp; Trying</h6>

                  <div class="text">
                    After agreeing on the ideas and plans, we will conduct as
                    scheduled and give comments on the results &amp;
                    adaptations.
                  </div>

                  <!-- <a class="gradation-btn" href="#">
                    <span class="button-text" data-text="Look more">
                      Look more
                    </span>
                    <span class="button-icon far fa-long-arrow-left"></span>
                  </a> -->
                </div>
              </div>
              <!-- Single item gradation End -->

              <!-- Single item gradation Start -->
              <div
                class="item item-1 animate wow fadeInRight"
                data-wow-delay="0.25s"
              >
                <div class="line"></div>
                <div class="circle-wrap">
                  <div class="mask">
                    <div class="wave-pulse wave-pulse-1"></div>
                    <div class="wave-pulse wave-pulse-2"></div>
                    <div class="wave-pulse wave-pulse-3"></div>
                  </div>

                  <h6 class="circle">4</h6>
                </div>

                <div class="content-wrap">
                  <h6 class="heading">04. Execute &amp; install</h6>

                  <div class="text">
                    Once the final plan is approved, everything will be
                    conducted according to the agreed contract.
                  </div>

                  <!-- <a class="gradation-btn" href="#">
                    <span class="button-text" data-text="Look more">
                      Look more
                    </span>
                    <span class="button-icon far fa-long-arrow-left"></span>
                  </a> -->
                </div>
              </div>
              <!-- Single item gradation End -->
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--====================  End of gradation process area  ====================-->

 

    <!--============ Contact Us Area Start =================-->
    <div id="contact-us" class="contact-us-area service-contact-bg section-space--ptb_100">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-lg-7 ms-auto">
              <div class="conact-us-wrap-one">
                  <h3 class="heading text-white">To make requests for <br>further information, <br><span class="text-color-primary">contact us</span>.</h3>
              </div>
          </div>
          <div class="col-lg-4">
            <div class="contact-info sytle-one service-contact text-left">
              <!-- <div class="contact-info-title-wrap text-center">
                <h3 class="heading text-white mb-10">4.9/5.0</h3>
                <div class="ht-star-rating lg-style">
                  <span class="fa fa-star"></span>
                  <span class="fa fa-star"></span>
                  <span class="fa fa-star"></span>
                  <span class="fa fa-star"></span>
                  <span class="fa fa-star"></span>
                </div>
                <p class="sub-text">by 700+ customers for 3200+ clients</p>
              </div> -->

              <div class="contact-list-item">
                <a href="tel:190068668" class="single-contact-list">
                  <div class="content-wrap">
                    <div class="content">
                      <div class="icon">
                        <span class="fal fa-phone"></span>
                      </div>
                      <div class="main-content">
                        <h6 class="heading">Call for advice now!</h6>
                        <div class="text">+41 76 327 63 40</div>
                      </div>
                    </div>
                  </div>
                </a>
                <a href="mailto:hello@aquametrics.net" class="single-contact-list">
                  <div class="content-wrap">
                    <div class="content">
                      <div class="icon">
                        <span class="fal fa-envelope"></span>
                      </div>
                      <div class="main-content">
                        <h6 class="heading">Say hello</h6>
                        <div class="text">hello@aquametrics.net</div>
                      </div>
                    </div>
                  </div>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--============ Contact Us Area End =================-->
  </div>

  <!--====================  footer area ====================-->
  <div class="footer-area-wrapper bg-gray">
    <div class="footer-area section-space--ptb_80">
      <div class="container">
        <div class="row footer-widget-wrapper">
          <div class="col-lg-4 col-md-6 col-sm-6 footer-widget">
            <div class="footer-widget__logo mb-30">
              <img
                src="assets/images/aqm-brand-logo.png"
                width="160"
                height="48"
                class="img-fluid"
                alt=""
              />
            </div>
            <ul class="footer-widget__list">
              <li>Switzerland</li>
              <li>
                <a href="mailto:hello@aquametrics.net" class="hover-style-link"
                  >hello@aquametrics.net</a
                >
              </li>
              <li>
                <a
                  href="tel:+41 76 327 63 40"
                  class="hover-style-link text-black font-weight--bold"
                  >+41 76 327 63 40</a
                >
              </li>
              <!-- <li>
                <a
                  href="https://hasthemes.com/"
                  class="hover-style-link text-color-primary"
                  >www.mitech.xperts.com</a
                >
              </li> -->
            </ul>
          </div>
          <div class="col-lg-2 col-md-4 col-sm-6 footer-widget">
            <h6 class="footer-widget__title mb-20">Services</h6>
            <ul class="footer-widget__list">
              <li><a href="#services" class="hover-style-link">Product Development</a></li>
              <li><a href="#services" class="hover-style-link">Design & Engineering</a></li>
              <li>
                <a href="#services" class="hover-style-link">Electronics & Software</a>
              </li>
              <li>
                <a href="#services" class="hover-style-link">Prototype & Testing</a>
              </li>
              <li>
                <a href="#services" class="hover-style-link">Manufacturing Support</a>
              </li>
              <!-- <li>
                <a href="#services" class="hover-style-link">Marketing Services</a>
              </li> -->
            </ul>
          </div>
          <!-- <div class="col-lg-2 col-md-4 col-sm-6 footer-widget">
            <h6 class="footer-widget__title mb-20">Quick links</h6>
            <ul class="footer-widget__list">
              <li>
                <a href="#" class="hover-style-link">Pick up locations</a>
              </li>
              <li>
                <a href="#" class="hover-style-link">Terms of Payment</a>
              </li>
              <li>
                <a href="#" class="hover-style-link">Privacy Policy</a>
              </li>
              <li>
                <a href="#" class="hover-style-link">Where to Find Us</a>
              </li>
            </ul>
          </div> -->
          <div class="col-lg-2 col-md-4 col-sm-6 footer-widget">
            <h6 class="footer-widget__title mb-20">Support</h6>
            <ul class="footer-widget__list">
              <!-- <li>
                <a href="#" class="hover-style-link">Forum Support</a>
              </li> -->
              <!-- <li><a href="#" class="hover-style-link">Help & FAQ</a></li> -->
              <li><a href="#contact-us" class="hover-style-link">Contact Us</a></li>
              <!-- <li>
                <a href="#" class="hover-style-link">Pricing and plans</a>
              </li> -->
              <!-- <li>
                <a href="#" class="hover-style-link">Cookies Policy</a>
              </li> -->
            </ul>
          </div>
          <!-- <div class="col-lg-2 col-md-4 col-sm-6 footer-widget">
            <div class="footer-widget__title section-space--mb_50"></div>
            <ul class="footer-widget__list">
              <li>
                <a href="#" class="image_btn"
                  ><img
                    class="img-fluid"
                    src="assets/images/icons/aeroland-button-google-play.webp"
                    alt=""
                /></a>
              </li>
              <li>
                <a href="#" class="image_btn"
                  ><img
                    class="img-fluid"
                    src="assets/images/icons/aeroland-button-app-store.webp"
                    alt=""
                /></a>
              </li>
            </ul>
          </div> -->
        </div>
      </div>
    </div>
    <div class="footer-copyright-area section-space--pb_30">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-md-6 text-center text-md-start">
            <span class="copyright-text"
              >{{ currentDateStr }} &copy; Aquametrics.
              <!-- <a href="https://hasthemes.com/">All Rights Reserved.</a> -->
              </span
            >
          </div>
          <!-- <div class="col-md-6 text-center text-md-end">
            <ul class="list ht-social-networks solid-rounded-icon">
              <li class="item">
                <a
                  href="https://twitter.com/"
                  target="_blank"
                  aria-label="Twitter"
                  class="social-link hint--bounce hint--top hint--primary"
                >
                  <i class="fab fa-twitter link-icon"></i>
                </a>
              </li>
              <li class="item">
                <a
                  href="https://facebook.com/"
                  target="_blank"
                  aria-label="Facebook"
                  class="social-link hint--bounce hint--top hint--primary"
                >
                  <i class="fab fa-facebook-f link-icon"></i>
                </a>
              </li>
              <li class="item">
                <a
                  href="https://instagram.com/"
                  target="_blank"
                  aria-label="Instagram"
                  class="social-link hint--bounce hint--top hint--primary"
                >
                  <i class="fab fa-instagram link-icon"></i>
                </a>
              </li>
              <li class="item">
                <a
                  href="https://linkedin.com/"
                  target="_blank"
                  aria-label="Linkedin"
                  class="social-link hint--bounce hint--top hint--primary"
                >
                  <i class="fab fa-linkedin link-icon"></i>
                </a>
              </li>
            </ul>
          </div> -->
        </div>
      </div>
    </div>
  </div>
  <!--====================  End of footer area  ====================-->
</div>
<!--====================  scroll top ====================-->
<a href="#" class="scroll-top" id="scroll-top">
  <i class="arrow-top fal fa-long-arrow-up"></i>
  <i class="arrow-bottom fal fa-long-arrow-up"></i>
</a>
<!--====================  End of scroll top  ====================-->

<!--====================  mobile menu overlay ====================-->
<div [ngClass]="mobileViewClass" id="mobile-menu-overlay">
  <div class="mobile-menu-overlay__inner">
    <div class="mobile-menu-overlay__header">
      <div class="container-fluid">
        <div class="row align-items-center">
          <div class="col-md-6 col-8">
            <!-- logo -->
            <div class="logo">
              <a href="index.html">
                <img
                  src="./assets/images/aqm-brand-logo.png"
                  class="img-fluid"
                  alt=""
                />
              </a>
            </div>
          </div>
          <div class="col-md-6 col-4">
            <!-- mobile menu content -->
            <div class="mobile-menu-content text-start">
              <span
                class="mobile-navigation-close-icon"
                id="mobile-menu-close-trigger"
                (click)="hideMobileView()"
              ></span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="mobile-menu-overlay__body">
      <nav class="offcanvas-navigation">
        <ul>
          <li [class.active]="(activeFragment | async)==='home'">
            <a routerLink="" fragment="home">Home1</a>
            <!-- <ul class="sub-menu">
              <li>
                <a href="index-infotechno.html"><span>Infotechno</span></a>
              </li>
              <li>
                <a href="index-processing.html"><span>Processing</span></a>
              </li>
              <li>
                <a href="index-appointment.html"><span>Appointment</span></a>
              </li>
              <li>
                <a href="index-services.html"><span>Services</span></a>
              </li>
              <li>
                <a href="index-resolutions.html"><span>Resolutions</span></a>
              </li>
              <li>
                <a href="index-cybersecurity.html"
                  ><span>cybersecurity</span></a
                >
              </li>
              <li>
                <a href="index-modern-it-company.html"
                  ><span>Modern IT Company</span></a
                >
              </li>
              <li>
                <a href="index-machine-learning.html"
                  ><span>Machine Learning</span></a
                >
              </li>
              <li>
                <a href="index-software-innovation.html"
                  ><span>Software Innovation</span></a
                >
              </li>
            </ul> -->
          </li>
          <li [class.active]="(activeFragment | async)==='services'">
            <a routerLink="" fragment="services" >Services</a>
            <!-- <ul class="sub-menu">
              <li class="has-children">
                <a href="about-us-01.html"><span>About us</span></a>
                <ul class="sub-menu">
                  <li>
                    <a href="about-us-01.html"><span>About us 01</span></a>
                  </li>
                  <li>
                    <a href="about-us-02.html"><span>About us 02</span></a>
                  </li>
                  <li class="has-children">
                    <a href="#"><span>Submenu Level Two</span></a>
                    <ul class="sub-menu">
                      <li>
                        <a href="#"><span>Submenu Level Three</span></a>
                      </li>
                      <li>
                        <a href="#"><span>Submenu Level Three</span></a>
                      </li>
                      <li>
                        <a href="#"><span>Submenu Level Three</span></a>
                      </li>
                    </ul>
                  </li>
                </ul>
              </li>
              <li>
                <a href="contact-us.html"><span>Contact us</span></a>
              </li>
              <li>
                <a href="leadership.html"><span>Leadership</span></a>
              </li>
              <li>
                <a href="why-choose-us.html"><span>Why choose us</span></a>
              </li>
              <li>
                <a href="our-history.html"><span>Our history</span></a>
              </li>
              <li>
                <a href="faqs.html"><span>FAQs</span></a>
              </li>
              <li>
                <a href="careers.html"><span>Careers</span></a>
              </li>
              <li>
                <a href="pricing-plans.html"><span>Pricing plans</span></a>
              </li>
            </ul> -->
          </li>
          <li [class.active]="(activeFragment | async)==='process'">
            <a routerLink="" fragment="process">Our Process</a>
            <!-- <ul class="sub-menu">
              <li>
                <a href="it-services.html"><span>IT Services</span></a>
              </li>
              <li>
                <a href="managed-it-service.html"
                  ><span>Managed IT Services</span></a
                >
              </li>
              <li>
                <a href="industries.html"><span>Industries</span></a>
              </li>
              <li>
                <a href="business-solution.html"
                  ><span>Business solution</span></a
                >
              </li>
              <li>
                <a href="it-services-details.html"
                  ><span>IT Services Details</span></a
                >
              </li>
            </ul> -->
          </li>
          <li [class.active]="(activeFragment | async)==='contact-us'">
            <a routerLink="" fragment="contact-us">Contact Us</a>
            <!-- <ul class="sub-menu">
              <li class="has-children">
                <a href="#">Element Group 01</a>
                <ul class="sub-menu">
                  <li>
                    <a href="element-accordion.html"
                      ><span>Accordions & Toggles</span></a
                    >
                  </li>
                  <li>
                    <a href="element-box-icon.html"><span>Box Icon</span></a>
                  </li>
                  <li>
                    <a href="element-box-image.html"><span>Box Image</span></a>
                  </li>
                  <li>
                    <a href="element-box-large-image.html"
                      ><span>Box Large Image</span></a
                    >
                  </li>
                  <li>
                    <a href="element-buttons.html"><span>Buttons</span></a>
                  </li>
                  <li>
                    <a href="element-cta.html"><span>Call to action</span></a>
                  </li>
                  <li>
                    <a href="element-client-logo.html"
                      ><span>Client Logo</span></a
                    >
                  </li>
                  <li>
                    <a href="element-countdown.html"><span>Countdown</span></a>
                  </li>
                </ul>
              </li>
              <li class="has-children">
                <a href="#">Element Group 02</a>
                <ul class="sub-menu">
                  <li>
                    <a href="element-counters.html"><span>Counters</span></a>
                  </li>
                  <li>
                    <a href="element-dividers.html"><span>Dividers</span></a>
                  </li>
                  <li>
                    <a href="element-flexible-image-slider.html"
                      ><span>Flexible image slider</span></a
                    >
                  </li>
                  <li>
                    <a href="element-google-map.html"
                      ><span>Google Map</span></a
                    >
                  </li>
                  <li>
                    <a href="element-gradation.html"><span>Gradation</span></a>
                  </li>
                  <li>
                    <a href="element-instagram.html"><span>Instagram</span></a>
                  </li>
                  <li>
                    <a href="element-lists.html"><span>Lists</span></a>
                  </li>
                  <li>
                    <a href="element-message-box.html"
                      ><span>Message box</span></a
                    >
                  </li>
                </ul>
              </li>
              <li class="has-children">
                <a href="#">Element Group 03</a>
                <ul class="sub-menu">
                  <li>
                    <a href="element-popup-video.html"
                      ><span>Popup Video</span></a
                    >
                  </li>
                  <li>
                    <a href="element-pricing-box.html"
                      ><span>Pricing Box</span></a
                    >
                  </li>
                  <li>
                    <a href="element-progress-bar.html"
                      ><span>Progress Bar</span></a
                    >
                  </li>
                  <li>
                    <a href="element-progress-circle.html"
                      ><span>Progress Circle</span></a
                    >
                  </li>
                  <li>
                    <a href="element-rows-columns.html"
                      ><span>Rows & Columns</span></a
                    >
                  </li>
                  <li>
                    <a href="element-social-networks.html"
                      ><span>Social Networks</span></a
                    >
                  </li>
                  <li>
                    <a href="element-tabs.html"><span>Tabs</span></a>
                  </li>
                  <li>
                    <a href="element-team-member.html"
                      ><span>Team member</span></a
                    >
                  </li>
                </ul>
              </li>
              <li class="has-children">
                <a href="#">Element Group 04</a>
                <ul class="sub-menu">
                  <li>
                    <a href="element-testimonials.html"
                      ><span>Testimonials</span></a
                    >
                  </li>
                  <li>
                    <a href="element-timeline.html"><span>Timeline</span></a>
                  </li>
                  <li>
                    <a href="element-carousel-sliders.html"
                      ><span>Carousel Sliders</span></a
                    >
                  </li>
                  <li>
                    <a href="element-typed-text.html"
                      ><span>Typed Text</span></a
                    >
                  </li>
                </ul>
              </li>
            </ul> -->
          </li>
        </ul>
      </nav>
    </div>
  </div>
</div>
<!--====================  End of mobile menu overlay  ====================-->
